.title{
    color: rebeccapurple;
    text-align: center;
    font-family: "Courier New", serif;
    background-color: rgb(7, 9, 12);
    font-size: 48px;
}
.pies{
    text-align: center;
    font-size: 24px;
}